table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: rgba(106, 141, 173, 0.71);
    color: white;
}

th {
    background-color: #213E8D;
    color: white;
}

a {
    cursor: pointer;
    cursor: hand;
    text-decoration: underline;
}

.titulo1 {
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.titulo2 {
    margin: 0;
    position: absolute;
    top: 18%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

p {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 95%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}