<form (ngSubmit)="salvar()">


    <h3>{{titulo}}</h3>



    <label>ID Cliente:
        <input  type="input" name="idCliente"  [(ngModel)]="cliente.codCliente"  disabled/>
    </label><br/><br/>

    <label>CNPJ:
        <input mask="00.000.000/0000-00" [showMaskTyped]="true" type="input" name="CNPJ"  [(ngModel)]="cliente.cnpj" />
    </label><br/><br/>

    <label>Razão Social:
        <input type="input" name="razSocial" size="20" [(ngModel)]="cliente.razSocial"/>
    </label><br/><br/>

    <label>Latitude:
        <input mask=" -00.0000" [showMaskTyped]="true" type="input" name="Latitude" size="30" [(ngModel)]="cliente.latitude"/>
    </label><br/><br/>

    <label>Longitude:
        <input mask="-00.0000" [showMaskTyped]="true" type="input" name="Longitude" size="30" [(ngModel)]="cliente.longitude"/>
    </label><br/><br/>
    <button type="submit">Cadastrar</button>








</form>